<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
<head>
<title>Insert title her fds ............</title>
<link rel="stylesheet" th:href="@{/css/nprogress.css}">
</head>
<body>
	<th:block layout:fragment="content">
		<a href="/qanda/login/auth?redictUrl=123456" id="login">Login</a>
		<a href="/qanda/article/teach">Teach</a>
		<a href="/qanda/article/register">Register</a>
		<a href="/qanda/userinfo/acticle">Communication</a>
		<a href="/qanda/admin/user_infor_list">user list</a>		
	
	
	<div lang="en" th:replace="fragments/assets :: assets"></div>
	<script>
		$(document).ready(function(){
			
			Common.redirecUrlAfterLogin();			
			
		
		});
	</script>
	</th:block>	

</body>
</html>