<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<th:block layout:fragment="content">

<form th:action="@{/login}" th:method="POST"   id="frm-login">
	<input type="text"      name="username" id="txtUserName">
	<input type="password"  name="password" id="txtPassWord">
	<a href="javascript:" class="btn_login" id="btnLogin">ចូលប្រើ</a>
</form>


<div lang="en" th:replace="fragments/assets :: assets"></div>
<script>
		$(document).ready(function(){
			
			var path = window.location.search.substring(1);
						
			$('#btnLogin').click(function(){
				$('#frm-login').submit();
			});
			
			$('#frm-login').submit(function(e) {
				var frm = $('#frm-login');
				e.preventDefault();
				
				var data = {};
				var val  = path.split('=');
				data['redictUrl'] = val[1]

				$.each(this,function(i,v){
					var input = $(v);
					data[input.attr("name")] = input.val();
					delete(data["undefined"])
				});
				
				console.log(data);
		        $.ajax({
		            type        : frm.attr('method'),
		            url         : frm.attr('action'),
		            data        : data,
		            success     : function(json){		            	
		            	console.log(json);
		            	
		            	if ( json['resultCd'] === '00000000' ){
		            		
		            		$('#resultMsg').text(json.resultMsg);
		            		$('#resultMsg').show();
		            		
		            		 var interal = setInterval(function() {
		            			 
		            			 alert(json.resultMsg);
		            			 clearInterval( interal );
		            			 
		            	     }, 2000);
		            		 
		            	}else{
		            		
		            		$('#resultMsg').text(json.resultMsg);
		            		$('#resultMsg').show();
		            		
		            	}
		            	     	
		            },
		            error      : function( json ){
		               console.log("error "+json);
		               
		            }
		        });
		        
			});
		
		});
	</script>
</th:block>

</body>
</html>