<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/layout">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

<th:block layout:fragment="content">
<form id="frm-login" th:action="@{/article/registers }" th:method="POST" >


<table>
	<tr>
		<th rowspan="1" id="resultMsg" style="display:none;">alkjfda</th>
	</tr>
	<tr>
		<th>full name</th>
		<td><input type="text" name="full_name"> </td>
	</tr>
	<tr>
		<th>nick name</th>
		<td><input type="text" name="user_nickname"></td>
	</tr>
	<tr>
		<th>email</th>
		<td><input type="text" name="email"></td>
	</tr>
	<tr>
		<th>user name</th>
		<td><input type="text" name="username"></td>
	</tr>
	<tr>
		<th>password</th>
		<td><input type="password" name="password"></td>
	</tr>
	<tr>

		<td rowspan="2"><input type="button" value="Submit" id="btnRegister"></td>
	</tr>
</table>
</form>

<div lang="en" th:replace="fragments/assets :: assets"></div>
<script>
		$(document).ready(function(){
			
			$('#btnRegister').click(function(){
				$('#frm-login').submit();
			});
			
			$('#frm-login').submit(function(e) {
				var frm = $('#frm-login');
				e.preventDefault();
				var data = {};

				$.each(this,function(i,v){
					var input = $(v);
					data[input.attr("name")] = input.val();
					delete(data["undefined"])
				});
				
				var token  = $('#_csrf').attr('content');
				var header = $('#_csrf_header').attr('content');

		        $.ajax({
		            type        : frm.attr('method'),
		            url         : frm.attr('action'),
		            contentType : 'application/json; charset=utf-8',
		            dataType    : 'json',
		            data        : JSON.stringify(data),
		            beforeSend  : function(xhr) {
		                xhr.setRequestHeader(header, token)
		            },
		            success     : function(json){		            	
		            	console.log(json);
		            	
		            	if ( json.resultCd == '00000000' ){
		            		
		            		$('#resultMsg').text(json.resultMsg);
		            		$('#resultMsg').show();
		            		
		            		 var interal = setInterval(function() {
		            			 
		            			 window.location.href = '/qanda/login/auth?redictUrl=123456';
		            			 clearInterval( interal );
		            			 
		            	     }, 2000);
		            		 
		            	}else{
		            		
		            		$('#resultMsg').text(json.resultMsg);
		            		$('#resultMsg').show();
		            		
		            	}
		            	     	
		            },
		            error      : function( json ){
		               console.log('error');
		               
		            }
		        });
		        
			});
		
		});
	</script>
</th:block>
</body>
</html>